<%= link_to user_path(user.id) do %>

<div>
  <li class="user_list_item">
    <img class="profile_photo" src=<%= user.photo%> alt="profile image">
    <div class="details">
      <h2 class="username">
        <%= user.name %>
      </h2>

      <p class="posts_count">Number of posts: <%= user.posts.count %></p>
    </div>
  </li>
</div>
<% end %>