<div>
<%= render "shared/usertile",user: @user %>
<div class="posts">
<% @posts.each do |post|%>
  <%= render "shared/posttile", post:post %>
  <%= render "shared/comments",comments: post.return_recent_comments %>
<% end %>
<button type="button" class="pagination_button">
    Pagination
</button>
</div>
</div>