body {
  padding: 1rem;
  margin: 0 auto;
}

.content {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

.button_link {
  display: flex;
  justify-content: center;
}

.user_list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.all_posts_button,
.pagination_button {
  padding: 1rem;
  cursor: pointer;
}

.details {
  width: 70%;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
}

.profile_photo {
  height: 90px;
  width: 90px;
  margin-right: 1rem;
  border: 1px solid black;
}

.username {
  font-size: 2rem;
}

.posts_count {
  align-self: flex-end;
}

.user_details {
  display: flex;
  flex-direction: column;
}

.user_bio {
  width: 80%;
  border: solid 1px black;
  margin: 0 auto;
  padding: 1rem 0;
}

.posts,
.container {
  width: 80%;
  margin: 0 auto;
}

.post_tile {
  flex-direction: column;
  text-decoration: none;
  border: solid 1px black;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
}

.comments_likes {
  align-self: flex-end;
}

.pagination_button {
  width: 10%;
  margin: 2rem auto;
}

.comments_container {
  border: solid 1px black;
  padding: 1rem;
}

.likes_button {
  padding: 6px 12px;
}
.sign_in_form {
  width: 100%;
}
.log_in_container,
.sign_up_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.log_in_header,
.sign_up_header {
  text-align: center;
}
.width_input {
  width: 400px;
  padding: 6px 12px;
}
.log_in_button,
.sign_up_button {
  width: 430px;
  padding: 6px 12px;
  margin-top: 1rem;
}
.notice {
  color: red;
  text-align: center;
}
.other_links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}