body {
  padding: 1rem;
  margin: 0 auto;
}

.content {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

.button_link {
  display: flex;
  justify-content: center;
}

.user_list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.all_posts_button,
.pagination_button {
  padding: 1rem;
  cursor: pointer;
}

.details {
  width: 70%;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
}

.profile_photo {
  height: 90px;
  width: 90px;
  margin-right: 1rem;
  border: 1px solid black;
}

.username {
  font-size: 2rem;
}

.posts_count {
  align-self: flex-end;
}

.user_details {
  display: flex;
  flex-direction: column;
}

.user_bio {
  width: 80%;
  border: solid 1px black;
  margin: 0 auto;
  padding: 1rem 0;
}

.posts,
.container {
  width: 80%;
  margin: 0 auto;
}

.post_tile {
  flex-direction: column;
  text-decoration: none;
  border: solid 1px black;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
}

.comments_likes {
  align-self: flex-end;
}

.pagination_button {
  width: 10%;
  margin: 2rem auto;
}

.comments_container {
  border: solid 1px black;
  padding: 1rem;
}

.likes_button {
  padding: 6px 12px;
}
